
<body>
  <img src="http://www.sena.ir/d/old/PicGallery/Talar/131046603483585320_photo_2016-04-09_11-55-31.jpg" alt="" class="img-bk">
  <div class="card">
    <div class="side form">
      <div class="img-logo">
        <img alt="You System Name" src="http://www.ime.co.ir/files/ime-co-ir/Images/Logo/header_logo_top.jpg">
      </div>

      <label  class="myOrginalFont">نام کاربری</label>
      <input type="text">

      <label class="myOrginalFont">شناسه عبور</label>
      <input type="password">

      <button class="btn-submit myOrginalFont" >
        ورود به سامانه
      </button>

      <span class="text-muted" class="myOrginalFont">
        فراموشی رمز؟ <a href="#">کلیک کنید!</a>
      </span>
    </div>
    <div class="side picture">
      <img src="http://www.sena.ir/d/old/PicGallery/Talar/131046603483585320_photo_2016-04-09_11-55-31.jpg" alt="tt">
    </div>
  </div>
</body>

